{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<div class="row">
  <a class="img" href="{{url}}" style="background-image:url({{img}})"></a>
  <div>
    <h2><a href="url">{{{title}}}</a></h2>
    <p>{{excerpt words="24"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    <p class="small">{{tags}} <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></p>
  </div>
</div>
{{/foreach}}

<hr>

{{! Previous/next page links - displayed on every page }}
{{pagination}}
