<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{! Document Settings }}
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{! Styles'n'Scripts }}
  <script type="text/javascript">
    MTIConfig = {};
    MTIConfig.EnableCustomFOUTHandler = true;
  </script>
  <script type="text/javascript" src="https://fast.fonts.net/jsapi/00651410-0699-48ff-a220-9c27019e1866.js"></script>
  <link rel="stylesheet" href="http://static.charles.io/css/common.css">
  <link rel="stylesheet" href="{{asset "css/screen.css"}}">

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>

<body class="{{body_class}}">
  {{navigation}}

  <div class="container">
    {{! Everything else gets inserted here }}
    {{{body}}}
  </div>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}
</body>
</html>
