<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="google-site-verification" content="NTgT2mqmcUiSiSyKmi-KHX2baEcP9FdHswDUh_QXrw8" />

  {{! Document Settings }}
  <link rel="shortcut icon" href="//d1divvdp6ba8l4.cloudfront.net/favicon.ico">

  {{! Styles'n'Scripts }}
  <script type="text/javascript" src="https://fast.fonts.net/jsapi/00651410-0699-48ff-a220-9c27019e1866.js"></script>
  <link rel="stylesheet" href="{{asset "css/common.css"}}">
  <link rel="stylesheet" href="{{asset "css/mobile.css"}}">
  <link rel="stylesheet" href="{{asset "css/screen.css"}}">

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>

<body class="{{body_class}}">
  {{navigation}}

  <div class="container">
    {{! Everything else gets inserted here }}
    {{{body}}}
  </div>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-36765833-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
