{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<section class="post-header">
<a class="img" style="background-image:url({{image}})"></a>
<h1>{{title}}</h1>
<p class="small">{{tags}} <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></p>
</section>

<section class="post-content">
{{content}}
</section>

<hr>

<section class="post-share">
<div class="post-share-follow">
  <a class="twitter-follow-button" href="https://twitter.com/fengocyte" data-show-count="false">Follow @fengocyte</a>
</div>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
  return t;
}(document, "script", "twitter-wjs"));</script>
<p class="small">
  <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;via=fengocyte&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><span class="hidden">Twitter</span></a>
  <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><span class="hidden">Facebook</span></a>
  <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><span class="hidden">Google+</span></a>
  <a class="icon-feed subscribe-button" href="{{@blog.url}}/rss/" target="_blank"><span class="hidden">Subscribe</span></a>
</p>
</section>

<hr>

<div class="posts">
  <h1>You may also like</h1>
  {{#next_post}}
  <div class="row">
    <a class="img" href="{{url}}" style="background-image:url({{image}})"></a>
    <div>
      <h2><a href="{{url}}">{{{title}}}</a></h2>
      <p>{{excerpt words="24"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </div>
  </div>
  {{/next_post}}
  {{#prev_post}}
  <div class="row">
    <a class="img" href="{{url}}" style="background-image:url({{image}})"></a>
    <div>
      <h2><a href="{{url}}">{{{title}}}</a></h2>
      <p>{{excerpt words="24"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </div>
  </div>
</div>
{{/prev_post}}
{{/post}}
